@import url('resources/fonts/dejavu.css');

a:link, a:visited {
	text-decoration: none;
}

a[name]:before, a[name]:target, a[id]:before, a[id]:target {
    content: "";
    display: inline-block;
    position: relative;
    padding-top: 129px;
    margin-top: -129px;
}

body {
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

thead {
	background: #dee3e9;
	font-weight: bold;
}

ul {
	list-style-type: disc;
}

ul.nav-list {
	margin: 0 25px 0 0;
	padding: 0;
}

ul.nav-list li {
	list-style: none;
	float: left;
	padding: 5px 6px;
	text-transform: uppercase;
}

.about-language {
	float: right;
	padding: 0 21px 8px 8px;
	font-size: 11px;
	margin-top: -9px;
	height: 2.9em;
}

.about-language div {
	margin-top: 14px;
}

.description {
	font-size: 14px;
	margin: 0 10px 5px 0;
}

.filterable-table {
	width: 100%;
	border-spacing: 0;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding: 0;
}

.flex-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flex-content {
    flex: 1 1 auto;
    overflow-y: auto;
}

.flex-header {
	flex: 0 0 auto;
}

.legal-copy {
    margin-left:.5em;
}

.main {
	padding: 10px 20px;
}

.nav-bar-cell1-rev {
	background-color: #F8981D;
	color: #253441;
	margin: auto 5px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #4D7A97;
	border-color: #4D7A97;
}

.skip-nav {
	position: absolute;
	top: auto;
	left: -9999px;
	overflow: hidden;
}

.sub-nav {
	background-color: #dee3e9;
	float: left;
	width: 100%;
	overflow: hidden;
	font-size: 12px;
}

.table tbody tr:nth-child(odd) {
	background-color: #EEEEEF;
}

.table tbody tr:nth-child(even) {
	background-color: #FFFFFF;
}

.table-container nav {
	text-align: center;
}

.title {
	color: #2c4557;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	margin: 10px 0;
}

.top-nav {
	background-color: #4D7A97;
	color: #FFFFFF;
	float: left;
	padding: 10px 0;
	width: 100%;
	clear: right;
	min-height: 2.8em;
	overflow: hidden;
	font-size: 12px;
}

.top-nav a:link, .top-nav a:active, .top-nav a:visited {
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}